.price {
    &__btn {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
        margin-top: 2rem;
    }
    &-table {
        &__title {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 1rem;
            background-color: #191919;
            margin: 0;
        }
        &__row {
            --bs-gutter-y: 0;
            --bs-gutter-x: 0;
        }
        &__col {
            display: flex;
            flex-direction: column;
        }
    }
    &-item {
        padding: 0.75rem;
        transition: all 400ms;
        flex-grow: 1;
        &:hover {
            background-color: #fff;
            color: #000;
        }
        &__name {
            margin-bottom: 0.5rem;
            font-weight: 700;
            
        }
        &__value {
            padding: 1rem;
            &:not(:last-child) {
                border-right: 1px solid currentColor;
            }
        }
    }

}

