section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tapicerka Fotelów Samochodowych – Pełna i Częściowa Wymiana Tapicerki
                p.details__description.custom-bg-light W Tapik zajmujemy się profesjonalną tapicerką foteli samochodowych – zarówno pełną peretką, jak i obiciem wybranych elementów. Oferujemy szeroki wybór tkanin, alcantary oraz skóry ekologicznej. Tapicerujemy fotele przednie i tylne, z zachowaniem oryginalnego kształtu i stylu wnętrza pojazdu.
                ul 
                    li 
                        b.text-bold Tylko nowe materiały: 
                        | Stara tapicerka jest zdejmowana, zakładamy nową od podstaw.
                    li 
                        b.text-bold Obszycie całych foteli lub ich elementów: 
                        | Wymiana siedziska, oparcia, boków, zagłówków – według potrzeb.
                    li 
                        b.text-bold Równe szwy i dopasowanie: 
                        | Precyzyjne szycie, które nie odbiega od fabrycznego.
                    li 
                        b.text-bold Dopasowanie do stylu wnętrza: 
                        | Kolory, faktura i wzory dobierane indywidualnie.
                    li 
                        b.text-bold Fachowy montaż: 
                        | Demontaż, szycie i montaż w naszym warsztacie w Poznaniu.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-1.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-1.jpg", alt="Tapicerka foteli Poznań Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-2.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-2.jpg", alt="Nowe obicie siedzeń samochodowych")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-3.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-3.jpg", alt="Tapicer samochodowy Poznań Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-4.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-4.jpg", alt="Obszywanie foteli samochodowych Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-5.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-5.jpg", alt="Obszywanie foteli samochodowych Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-6.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-6.jpg", alt="Obszywanie foteli samochodowych Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-7.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-7.jpg", alt="Obszywanie foteli samochodowych Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-8.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-8.jpg", alt="Obszywanie foteli samochodowych Poznań")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-1.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-2.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-3.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-4.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-4.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-5.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-5.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-6.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-6.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-7.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-7.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/seat/seat-img-8.webp", type="image/webp")
                                img.work__img(src="img/seat/seat-img-8.jpg", alt="")
