extends settings/layout

prepend html
  - const lang = "pl";

prepend head
  - const pageTitle = "Tapicerka Podsufitki Poznań | Tapik – Obszywanie Dachu Samochodu"
  - const pageDescription = "Profesjonalna tapicerka podsufitki w Poznaniu. Wymiana materiału na dachu auta – precyzyjnie, estetycznie i z dopasowaniem do wnętrza. Tapik – tapicer samochodowy z doświadczeniem."
  - const pageKeywords = "tapicerka podsufitki, wymiana podsufitki Poznań, obszywanie dachu samochodu, tapicer samochodowy Tapik, podsufitka samochodowa, tapicerka wnętrza auta, Poznań tapicer samochodowy"
  - const pageUrl = "https://tapik.pl/ceiling.html"
  - const pageImage = "https://tapik.pl/img/service-ceiling.jpg"
  - const twitterImage = "https://tapik.pl/img/og/service-ceiling.jpg"
  - const themeColor = "#000000"

append head

append content
  include components/header
  main
    include components/ceiling/details
    include components/cta
    include components/reviews
    include components/contacts
    include components/popup
  include components/footer

append scripts
