extends settings/layout

prepend html
  - const lang = "pl";

prepend head
  - const pageTitle = "Tapik - Tapicer Samochodowy Poznań | Obszywanie Fotelów, Kierownic, Podsufitek i Boczków";
  - const themeColor = "#ffffff";
  - const pageDescription = "Tapik - doświadczony tapicer samochodowy z Poznania. Obszywanie kierownicy, foteli, podsufitki i boczków drzwi. Wysoka jakość materiałów: skóra, alcantara, welur. Fachowe wykonanie i indywidualne podejście.";
  - const pageKeywords = "Tapik, tapicer samochodowy, tapicer samochodowy Poznań, obszywanie kierownicy, tapicerka samochodowa, tapicerka foteli, tapicerka podsufitki, renowacja wnętrza auta, tapicerka drzwi, skórzana tapicerka samochodowa, alcantara samochodowa, wymiana tapicerki";
  - const pageUrl = "https://tapik.com.pl";
  - const pageImage = "https://tapik.com.pl/img/logo-big.png";
  - const twitterImage = "https://tapik.com.pl/img/logo-big.png";

append head

append content
  include components/header
  main
    include components/promo
    include components/feature
    include components/services
    include components/about
    include components/why
    include components/how
    //- include components/banner
    //- include components/price
    include components/works
    include components/cta
    include components/reviews
    include components/faq
    include components/contacts
    include components/popup
  include components/footer

append scripts
