section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tapicerka Boczków Drzwi – Odśwież Wnętrze Swojego Auta
                p.details__description.custom-bg-light Boczek drzwiowy to jeden z najbardziej eksploatowanych elementów wnętrza auta. W Tapik oferujemy profesjonalne obszywanie boczków drzwi tkaniną, alcantarą lub skórą – z dopasowaniem koloru, struktury i stylu do reszty wnętrza. Pracujemy starannie i precyzyjnie, dzięki czemu każdy detal wygląda jak z fabryki.
                ul 
                    li 
                        b.text-bold Nowoczesny wygląd: 
                        | Boczek drzwiowy z nową tapicerką odmienia całą kabinę.
                    li 
                        b.text-bold Trwałe i odporne materiały: 
                        | Tkaniny odporne na przetarcia, promienie UV i wilgoć.
                    li 
                        b.text-bold Idealne dopasowanie: 
                        | Obszycie z zachowaniem kształtu, przetłoczeń i oryginalnych linii.
                    li 
                        b.text-bold Styl dopasowany do wnętrza: 
                        | Pomagamy dobrać materiał, który pasuje do foteli, deski i podsufitki.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-1.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-1.jpg", alt="Tapicerka boczków drzwi Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-2.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-2.jpg", alt="Obszywanie boczków drzwi Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-3.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-3.jpg", alt="Wymiana tapicerki drzwi Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-4.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-4.jpg", alt="Tapicer samochodowy Poznań Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-5.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-5.jpg", alt="Tapicer samochodowy Poznań Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-6.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-6.jpg", alt="Tapicer samochodowy Poznań Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-7.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-7.jpg", alt="Tapicer samochodowy Poznań Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-8.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-8.jpg", alt="Tapicer samochodowy Poznań Tapik")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-1.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-2.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-3.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-4.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-4.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-5.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-5.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-6.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-6.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-7.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-7.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/door/door-img-8.webp", type="image/webp")
                                img.work__img(src="img/door/door-img-8.jpg", alt="")
