section.about.block#about 
    .container 
        h2.about__title.text-center.text-uppercase O nas
        .about__inner 
            .about__image
                picture 
                    source(srcset="img/about.webp", type="image/webp")
                    img.custom-img(src="img/about.jpg", alt="O Tapik")
            .about__info Nazywamy się Tapik i od lat zajmujemy się profesjonalną tapicerką samochodową w Poznaniu i okolicach. Tworzymy nową jakość wnętrz samochodowych dzięki doświadczeniu, dokładności i najlepszym materiałom. Skupiamy się na detalach – to one robią różnicę.
        .about__btn.text-center
            a.btn.btn-primary.btn-large(href="#cta") Umów się