section.cta#cta.block.custom-bg-light
    .container 
        .row.justify-content-center
            .col-12.col-md-6 
                .cta__inner
                    h2.cta__title.text-center.text-uppercase Masz pytania? Napisz do nas!
                    h3.h6.text-center.cta__subtitle Wypełnij formularz, a skontaktujemy się z Tobą tak szybko, jak to możliwe.
                    form.cta__form#cta-form(method="POST")
                        .row.cta__row 
                            .col-6 
                                input.input.cta__input(type="text", placeholder="Imię", name="name", required)
                            .col-6 
                                input.input.cta__input(type="tel", placeholder="Telefon", name="phone", required)
                            .col-12 
                                input.input.cta__input(type="text", placeholder="Marka samochodu", name="car")
                            //- .col-6 
                            //-     input.input.cta__input(type="text", placeholder="Data", name="date")
                            //- .col-12 
                            //-     .cta__labels
                            //-         label.cta__label.label
                            //-             input(type="radio", name="work", value="Pakiet Standard")
                            //-             | Pakiet “Standard”
                            //-         label.cta__label.label
                            //-             input(type="radio", name="work", value="Pakiet Platinum")
                            //-             | Pakiet “Platinum”
                            //-         label.cta__label.label
                            //-             input(type="radio", name="work", value="Usługi etapowe")
                            //-             | Usługi etapowe
                            .col-12 
                                button.btn.btn-primary.btn-normal.cta__btn(type="submit") Zarejestrować się 
                