section.faq.block#faq
    .container
        h2.faq__title.text-uppercase Najczęstsze pytania
        .faq__list
            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Czy obicie foteli można wykonać na miejscu – u klienta?
                .faq__item-content
                    div Nie. Ze względu na złożoność procesu i potrzebne narzędzia, tapicerka wykonywana jest wyłącznie w naszym warsztacie. Możesz zostawić auto u nas, a po wykonaniu usługi odbierzesz gotowy pojazd.
            
            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Ile trwa wymiana tapicerki siedzeń lub podsufitki?
                .faq__item-content
                    div Czas realizacji zależy od zakresu prac i modelu pojazdu. Najczęściej zajmuje to od 2 do 3 dni roboczych. Dokładny termin ustalamy po oględzinach auta.

            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Czy mogę sam wybrać materiał i kolor tapicerki?
                .faq__item-content
                    div Tak. Przed rozpoczęciem prac wspólnie wybieramy odpowiedni materiał, kolor i wzór, dopasowane do wnętrza pojazdu i Twoich preferencji. Mamy szeroki wybór tkanin, skóry i alcantary.

            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Czy tapicerka będzie tak samo trwała jak fabryczna?
                .faq__item-content
                    div Używamy materiałów o wysokiej odporności na ścieranie, promieniowanie UV i wilgoć. W wielu przypadkach są one nawet trwalsze niż seryjne tapicerki stosowane przez producentów aut.

            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Czy trzeba demontować siedzenia lub inne elementy?
                .faq__item-content
                    div Tak, w celu wykonania profesjonalnej tapicerki niezbędny jest demontaż foteli, podsufitki czy boczków drzwi. Wszystkie elementy są później montowane z powrotem z zachowaniem pełnej funkcjonalności.
