section.how.block 
    .container 
        h2.how__title.text-center Jak pracujemy? 
        h3.h6.text-light.how__subtitle.text-center Etapy współpracy z Tapik:
        ol.row.how__row 
            li.bullet.col-12.col-lg-4 
                h4.h6.bullet__title Rezerwacja terminu
                p.bullet__description Zadzwoń do nas lub zostaw zgłoszenie przez formularz – oddzwonimy i ustalimy dogodny termin wizyty.
            li.bullet.col-12.col-lg-4 
                h4.h6.bullet__title Dobór materiału i wycena
                p.bullet__description W umówionym terminie przyjeżdżasz do nas, oglądamy zakres prac, pomagamy wybrać materiał i dopiero wtedy przedstawiamy dokładną wycenę.
            li.bullet.col-12.col-lg-4 
                h4.h6.bullet__title Realizacja zlecenia
                p.bullet__description Zostawiasz u nas samochód, a w ciągu 2–3 dni roboczych odbierasz wnętrze, które wygląda jak nowe.
        .how__btn.text-center 
            a.btn.btn-primary.btn-large(href="#cta") Umów się 
