section#price.price.block.custom-bg-light 
    svg(style="display: none;")
        symbol#icon-cash(viewBox="0 0 16 16" fill="currentColor")
            path(d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z")
    .container
        h2.price__title.text-uppercase Ceny
        .price-table
            .row.price-table__row
                .col-12 
                    h5.price-table__title Tapicerka podsufitki
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Przeklejenie starej na nową (sedan/kombi)
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | 700 zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Przeklejenie starej na nową (SUV/minivan)
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | 1000 zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Demontaż podsufitki (sedan)
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | 500 zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Demontaż podsufitki (kombi)
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | 400 zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Demontaż podsufitki (SUV/minivan)
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | 500 zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Tapicerka podsufitki (zamiennik alcantary)
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | +200 zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Przeklejenie słupków
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 100 zł

            .row.price-table__row
                .col-12 
                    h5.price-table__title Tapicerka boczków drzwi
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Boczne panele drzwi
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 300 zł (w zależności od materiału)

            .row.price-table__row 
                .col-12 
                    h5.price-table__title Naprawa foteli
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Naprawa foteli
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | od 350 zł (wycena na podstawie zdjęć)

            .row.price-table__row 
                .col-12 
                    h5.price-table__title Indywidualna wycena
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h6 Busy i niestandardowe przypadki
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")  
                            | Wycena na podstawie zdjęć
        .price__btn
            a.btn.btn-primary.btn-large(href="#cta") Umów się