section.promo.block.section#promo 
    .section__inner
        .container.promo__container 
            .row.align-items-center 
                .col-12.col-lg-6
                    .promo__info
                        h1.promo__title Tapik – 
                            span.text-third.text-stroke Tapicer Samochodowy 
                            | Poznań i okolice!
                        h2.h6.promo__subtitle Profesjonalna tapicerka samochodowa: fotele, kierownice, podsufitki, drzwi. Szybko, solidnie i w dobrej cenie.
                        .promo__btn
                            a.btn.btn-dark.btn-large(href="#cta") Umów się
                //- .col-12.col-lg-5 
                //-     img(src="img/promo-bg.jpg", alt="")
