section.reviews#reviews.block
        .container
            .reviews__navigation 
                .row.align-items-center.justify-content-between.reviews__row 
                    .col-auto
                        h2.reviews__title.text-uppercase Opinie
                        .reviews__google 
                            .reviews__google-value 5.0 
                            .reviews__google-stars.rating(style="--star-rating: 5;")
                        img(src="img/google-rating.svg", alt="")
                    .col-auto 
                        .swiper-navigation
                            .reviews-button-prev.btn.btn-secondary.btn-small
                                svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                            .reviews-button-next.btn.btn-secondary.btn-small
                                svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .swiper.reviews-swiper 
                .swiper-wrapper
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="Д", style="--bg-color: lightblue")
                                div
                                    h6.review__name Дмитрий Власюк
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Ребята классно перетянули потолочек стойки – быстро, аккуратно и качественно. Результат радует, спасибо!
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="M", style="--bg-color: gray")
                                div
                                    h6.review__name Michał
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Super robota bardzo ładnie obszyte elementy podsufitki i pomalowane plastiki. Bardzo miła obsługa i profesjonalne podejście do klienta. Szybki czas wykonania usługi. Polecam każdemu !!
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="M", style="--bg-color: orange")
                                div
                                    h6.review__name Maciej Borowczyk
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Pan godny polecenia. Usługa wykonana sprawnie, terminowo. Miałem do wymiany element siedzenia skóra. Warto skorzystać z usług tej firmy i naprawić poszycie fotela. Polecam.
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="W", style="--bg-color: purple")
                                div
                                    h6.review__name Wojciech Sieracki
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Polecam 100% Profesjonalne podejście do klienta . Pozdrawiam
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="K", style="--bg-color: darkred")
                                div
                                    h6.review__name Kichumo Leslaw
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Regeneracja foteli skórzanych wykonana perfekcyjnie.
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="B", style="--bg-color: green")
                                div
                                    h6.review__name Borys Kamiński
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Sprawnie, miło, tanio i bardzo profesjonalnie. Pan Bogdan zna się na robocie! Pokrowce w nissanie założone bez najmniejszego zarzutu. Polecam z czystym sumieniem
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="Я", style="--bg-color: pink")
                                div
                                    h6.review__name Ярослав Шкурат
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Praca zrobiona perfekcyjnie. Polecam.
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="C", style="--bg-color: blue")
                                div
                                    h6.review__name Сергей Рагимов
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Добре виконана робота по перетяжці стелі в гольф 6. Порядний і професійний майстер . Рекомендую
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                .review__ava(data-letter="C", style="--bg-color: red")
                                div
                                    h6.review__name Саня Зайчук
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Рекомендую
                                br
                                | Робили сидіння все супер)
            .reviews__note.text-center Zostaw swoją opinię i zapoznaj się z pozostałymi na 
                a(href="https://maps.app.goo.gl/ecQ16vXt3fkUcFF59", target="_blank") Google Maps
                | .
