section.reviews#reviews.block
        .container
            .reviews__navigation 
                .row.align-items-center.justify-content-between.reviews__row 
                    .col-auto
                        h2.reviews__title.text-uppercase Opinie
                    .col-auto 
                        .swiper-navigation
                            .reviews-button-prev.btn.btn-secondary.btn-small
                                svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                            .reviews-button-next.btn.btn-secondary.btn-small
                                svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .swiper.reviews-swiper 
                .swiper-wrapper
                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m1.jpg", alt="")
                                div
                                    h6.review__name Jakub
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Wcześniej zamawiałem tylko czyszczenie, ale teraz zdecydowałem się na wymianę tapicerki foteli i podsufitki. Efekt przeszedł moje oczekiwania – samochód wygląda jak z salonu. Szycie precyzyjne, wszystko dopasowane, materiał porządny. Fachowa robota!

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m2.jpg", alt="")
                                div
                                    h6.review__name Adrian
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Tapicerka w moim aucie była mocno zużyta – plamy, przetarcia, nawet dziury. Po regeneracji foteli i drzwi wszystko wygląda jak nowe. Chłopaki znają się na rzeczy. Polecam każdemu, kto chce odświeżyć wnętrze.

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m3.jpg", alt="")
                                div
                                    h6.review__name Michał
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Zdecydowałem się na zmianę koloru tapicerki oraz obicie podsufitki. Efekt? Samochód zyskał zupełnie nowy charakter. Wszystko zrobione z dbałością o szczegóły. Świetna robota, zero niedociągnięć!

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m4.jpg", alt="")
                                div
                                    h6.review__name Piotr
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Kupiłem używane auto z bardzo zaniedbanym wnętrzem. Firma Tapic wymieniła mi tapicerkę foteli i boczków drzwi. Efekt? Jak nowe! Bardzo profesjonalne podejście i świetna jakość materiałów.

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m5.jpg", alt="")
                                div
                                    h6.review__name Rafał
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Dach w moim aucie odklejał się i wyglądał tragicznie. Teraz mam nową podsufitkę, solidnie zamocowaną i idealnie dopasowaną do wnętrza. Dodatkowo wymieniłem tapicerkę foteli – wszystko wygląda rewelacyjnie.

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m6.jpg", alt="")
                                div
                                    h6.review__name Tomasz
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Tapicerka kierownicy była bardzo zniszczona, a podsufitka wisiała. Po wizycie w Tapic wszystko zostało wymienione na nowe. Auto wygląda teraz o wiele lepiej, komfort jazdy znacznie wzrósł.

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m7.jpg", alt="")
                                div
                                    h6.review__name Krzysztof
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Chciałem zrobić coś ekstra z wnętrzem auta, więc zamówiłem tapicerkę na zamówienie. Zmienili kolor, obszyli fotele i drzwi. Efekt jest po prostu wow! Fachowa robota i świetny kontakt.

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m8.jpg", alt="")
                                div
                                    h6.review__name Marek
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Auto służy mi zawodowo i ważny jest dla mnie porządek we wnętrzu. Po wymianie tapicerki foteli i odnowieniu drzwi, kabina wygląda elegancko i schludnie. Profesjonalna obsługa, szybka realizacja.

                    .swiper-slide
                        .review.custom-bg-light
                            .review__header
                                img.review__ava(src="img/m9.jpg", alt="")
                                div
                                    h6.review__name Łukasz
                                    .rating.review__rating(style="--star-rating: 5;")
                            p.review__text Wnętrze mojego auta było nudne i przestarzałe. Dzięki nowej tapicerce na fotelach i boczkach drzwi wygląda nowocześnie i stylowo. Jestem bardzo zadowolony z efektu końcowego!
