section.services#services.block
        .container
            .services__navigation
                .row.align-items-center.justify-content-between.services__row
                    .col-auto 
                        
                            h2.services__title.text-uppercase Nasze usługi
                            p.services__subtitle Oferuję tapicerkę samochodową w zakresie:
                    .col-auto 
                        .swiper-navigation
                            .services-button-prev.btn.btn-secondary.btn-small
                                svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                            .services-button-next.btn.btn-secondary.btn-small
                                svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .swiper.services-swiper 
                .swiper-wrapper
                    .swiper-slide
                        .service.custom-bg-light
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-ceiling.webp", type="image/webp")
                                    img(src="img/service-ceiling.jpg", alt="Tapicerka podsufitki", loading="lazy", height="200")
                            .service__body
                                h6.service__title.text-third Tapicerka podsufitki
                                .service__description Profesjonalna wymiana podsufitki – bez opadania materiału, z idealnym dopasowaniem do wnętrza.
                            .service__footer 
                                a.service__more(href="ceiling.html") Więcej szczegółów
                    .swiper-slide
                        .service.custom-bg-light
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-seat.webp", type="image/webp")
                                    img(src="img/service-seat.jpg", alt="Tapicerka foteli", loading="lazy", height="200")
                            .service__body
                                h6.service__title.text-third Tapicerka foteli
                                .service__description Kompleksowe tapicerowanie foteli – odnowienie wyglądu, poprawa wygody i zwiększenie wartości auta.
                            .service__footer 
                                a.service__more(href="seat.html") Więcej szczegółów
                    .swiper-slide
                        .service.custom-bg-light
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-door.webp", type="image/webp")
                                    img(src="img/service-door.jpg", alt="Tapicerka drzwi (boczków)", loading="lazy", height="200")
                            .service__body
                                h6.service__title.text-third Tapicerka drzwi (boczków)
                                .service__description Renowacja boczków drzwiowych – estetyczne wykończenie i lepsze wygłuszenie wnętrza.
                            .service__footer 
                                a.service__more(href="door.html") Więcej szczegółów
                    .swiper-slide
                        .service.custom-bg-light 
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-wheel.webp", type="image/webp")
                                    img(src="img/service-wheel.jpg", alt="Tapicerka detali wnętrza", loading="lazy", height="200")
                            .service__body
                                h6.service__title.text-third Tapicerka detali wnętrza
                                .service__description Obszycie kierownicy, gałki zmiany biegów, podłokietnika i innych elementów wnętrza – skóra naturalna lub alcantara. Nowy wygląd, lepszy chwyt i trwałość.
                            .service__footer 
                                a.service__more(href="wheel.html") Więcej szczegółów
                    .swiper-slide
                        .service.custom-bg-light
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-pillow.webp", type="image/webp")
                                    img(src="img/service-pillow.jpg", alt="Poduszki pod zagłówek", loading="lazy", height="200")
                            .service__body
                                h6.service__title.text-third Poduszki pod zagłówek
                                .service__description Małe, stylowe poduszki szyte na zamówienie, które zwiększają komfort jazdy i dodają wnętrzu auta elegancji.
                            .service__footer 
                                a.service__more(href="pillow.html") Więcej szczegółów
                    .swiper-slide
                        .service.custom-bg-light
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-mats.webp", type="image/webp")
                                    img(src="img/service-mats.jpg", alt="Dywaniki samochodowe (EVA, welur)", loading="lazy", height="200")
                            .service__body
                                h6.service__title.text-third Dywaniki samochodowe (EVA, welur)
                                .service__description Produkujemy dopasowane dywaniki z materiałów EVA lub weluru – trwałe, łatwe w czyszczeniu i estetyczne.
                            .service__footer 
                                a.service__more(href="mats.html") Więcej szczegółów
                    .swiper-slide
                        .service.custom-bg-light
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-box.webp", type="image/webp")
                                    img(src="img/service-box.jpg", alt="Organizer do bagażnika (EVA)", loading="lazy", height="200")
                            .service__body
                                h6.service__title.text-third Organizer do bagażnika (EVA)
                                .service__description Funkcjonalne i lekkie torby z materiału EVA do przechowywania rzeczy w bagażniku. Idealne na porządek w aucie.
                            .service__footer 
                                a.service__more(href="box.html") Więcej szczegółów
            .services__btn
                a.btn.btn-primary.btn-large(href="#cta") Umów się
