section.block.why 
	.container 
		h2.text-center.why__title Dlaczego 
			span.text-third Tapik
			| ?
		h3.h6.text-center.text-light.why__subtitle Jako tapicer samochodowy z doświadczeniem oferuję:
		.why__inner
			.row.justify-content-center.why__row.align-items-center 
				.col-12.col-lg-6.col-xl-5
					picture.watermark 
						img.custom-img(src="img/why.jpg", alt="")
				.col-12.col-lg-6.col-xl-5
					ol.row
						li.col-12.bullet 
							h4.h6.bullet__title Precyzja szycia i dopasowania
							p.bullet__description Każdy detal ma znaczenie – szyjemy z dokładnością co do milimetra.
						li.col-12.bullet 
							h4.h6.bullet__title Doświadczenie w pracy z różnymi materiałami
							p.bullet__description Znamy właściwości każdej tkaniny i wiemy, jak ją obrobić.
						li.col-12.bullet 
							h4.h6.bullet__title Estetyczne i trwałe wykończenia
							p.bullet__description Wygląd ma znaczenie – dlatego wykończenia są czyste, równe i solidne.
						li.col-12.bullet 
							h4.h6.bullet__title Profesjonalne podejście do każdego projektu
							p.bullet__description Działamy punktualnie, dokładnie i bez półśrodków.
				.col-12 
					.why__btn.text-center 
						a.btn.btn-primary.btn-large(href="#cta") Umów się 
