section.works.block#works 
    .container
        h2.works__title.text-center.text-uppercase Prace
        h3.h6.text-center.text-light.works__subtitle Efekty mojej pracy – zobacz metamorfozy wnętrz samochodowych!
        .works__categories.categories
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="0") Tapicerka foteli
            .categories__item
                button.btn.btn-secondary.btn-small.active.category(type="button", data-slide="1") Tapicerka kierownicy
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="2") Tapicerka podsufitki
            .categories__item
                button.btn.btn-secondary.btn-small.category(type="button", data-slide="3") Tapicerka drzwi (boczków)
        .swiper.works-swiper
            .swiper-wrapper 
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        a.col(href="img/seat/seat-img-1.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-1.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-1.jpg", alt="")
                        a.col(href="img/seat/seat-img-2.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-2.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-2.jpg", alt="")
                        a.col(href="img/seat/seat-img-3.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-3.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-3.jpg", alt="")
                        a.col(href="img/seat/seat-img-4.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-4.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-4.jpg", alt="")
                        a.col(href="img/seat/seat-img-5.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-5.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-5.jpg", alt="")
                        a.col(href="img/seat/seat-img-6.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-6.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-6.jpg", alt="")
                        a.col(href="img/seat/seat-img-7.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-7.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-7.jpg", alt="")
                        a.col(href="img/seat/seat-img-8.webp") 
                            picture.work
                                source(srcset="img/seat/seat-img-8.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/seat/seat-img-8.jpg", alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        a.col(href="img/wheel/wheel-img-1.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-1.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-1.jpg", alt="")
                        a.col(href="img/wheel/wheel-img-2.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-2.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-2.jpg", alt="")
                        a.col(href="img/wheel/wheel-img-3.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-3.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-3.jpg", alt="")
                        a.col(href="img/wheel/wheel-img-4.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-4.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-4.jpg", alt="")
                        a.col(href="img/wheel/wheel-img-5.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-5.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-5.jpg", alt="")
                        a.col(href="img/wheel/wheel-img6.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-6.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-6.jpg", alt="")
                        a.col(href="img/wheel/wheel-img-7.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-7.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-7.jpg", alt="")
                        a.col(href="img/wheel/wheel-img-8.webp") 
                            picture.work
                                source(srcset="img/wheel/wheel-img-8.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/wheel/wheel-img-8.jpg", alt="")

                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        a.col(href="img/ceiling/ceiling-img-1.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-1.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-1.jpg", alt="")
                        a.col(href="img/ceiling/ceiling-img-2.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-2.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-2.jpg", alt="")
                        a.col(href="img/ceiling/ceiling-img-3.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-3.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-3.jpg", alt="")
                        a.col(href="img/ceiling/ceiling-img-4.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-4.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-4.jpg", alt="")
                        a.col(href="img/ceiling/ceiling-img-5.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-5.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-5.jpg", alt="")
                        a.col(href="img/ceiling/ceiling-img-6.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-6.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-6.jpg", alt="")
                        a.col(href="img/ceiling/ceiling-img-7.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-7.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-7.jpg", alt="")
                        a.col(href="img/ceiling/ceiling-img-8.webp") 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-8.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/ceiling/ceiling-img-8.jpg", alt="")
                .swiper-slide
                    .row.gallery.row-cols-2.row-cols-sm-2.row-cols-md-4
                        a.col(href="img/door/door-img-1.webp") 
                            picture.work
                                source(srcset="img/door/door-img-1.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-1.jpg", alt="")
                        a.col(href="img/door/door-img-2.webp") 
                            picture.work
                                source(srcset="img/door/door-img-2.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-2.jpg", alt="")
                        a.col(href="img/door/door-img-3.webp") 
                            picture.work
                                source(srcset="img/door/door-img-3.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-3.jpg", alt="")
                        a.col(href="img/door/door-img-4.webp") 
                            picture.work
                                source(srcset="img/door/door-img-4.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-4.jpg", alt="")
                        a.col(href="img/door/door-img-5.webp") 
                            picture.work
                                source(srcset="img/door/door-img-5.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-5.jpg", alt="")
                        a.col(href="img/door/door-img-6.webp") 
                            picture.work
                                source(srcset="img/door/door-img-6.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-6.jpg", alt="")
                        a.col(href="img/door/door-img-7.webp") 
                            picture.work
                                source(srcset="img/door/door-img-7.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-7.jpg", alt="")
                        a.col(href="img/door/door-img-8.webp") 
                            picture.work
                                source(srcset="img/door/door-img-8.webp", type="image/webp")
                                img.work__img(loading="lazy", src="img/door/door-img-8.jpg", alt="")
        .works__btn 
            a.btn.btn-primary.btn-large(href="#cta") Umów się
