section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tapicerka Kierownicy, Gałki Zmiany Biegów, Podłokietnika i Innych Detali
                p.details__description.custom-bg-light Obszywanie drobnych elementów wnętrza to świetny sposób na poprawę wyglądu i komfortu jazdy. W Tapik oferujemy precyzyjne obszycie kierownic, gałek zmiany biegów, podłokietników oraz innych detali, takich jak uchwyty czy mieszki. Wykorzystujemy wysokiej jakości skórę naturalną, alcantarę oraz nowoczesne tkaniny, które nie tylko dobrze wyglądają, ale także są trwałe i przyjemne w dotyku.
                ul 
                    li 
                        b.text-bold Nowy wygląd i lepszy chwyt: 
                        | Ergonomia i estetyka w jednym.
                    li 
                        b.text-bold Materiały premium: 
                        | Skóra, alcantara lub tekstylia dopasowane do reszty wnętrza.
                    li 
                        b.text-bold Precyzyjne wykonanie: 
                        | Równe szwy, profesjonalne dopasowanie, fabryczna jakość.
                    li 
                        b.text-bold Szeroki zakres obszycia: 
                        | Kierownica, gałka biegów, podłokietnik, uchwyty, mieszki i więcej.
                    li 
                        b.text-bold Tapicer samochodowy w Poznaniu: 
                        | Fachowe wykonanie na miejscu – Tapik.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-1.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-1.jpg", alt="Tapicerka kierownicy Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-2.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-2.jpg", alt="Obszywanie podłokietnika Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-3.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-3.jpg", alt="Tapicer samochodowy Poznań Tapik")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-4.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-4.jpg", alt="Gałka biegów obszyta skórą")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-5.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-5.jpg", alt="Gałka biegów obszyta skórą")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-6.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-6.jpg", alt="Gałka biegów obszyta skórą")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-7.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-7.jpg", alt="Gałka biegów obszyta skórą")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-8.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-8.jpg", alt="Gałka biegów obszyta skórą")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-1.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-2.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-3.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-4.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-4.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-5.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-5.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-6.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-6.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-7.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-7.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/wheel/wheel-img-8.webp", type="image/webp")
                                img.work__img(src="img/wheel/wheel-img-8.jpg", alt="")
