section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tapicerka Podsufitki w Samochodzie – Estetyka i Odświeżenie Wnętrza
                p.details__description.custom-bg-light Wymiana lub renowacja podsufitki to szybki sposób na poprawę wyglądu całego wnętrza pojazdu. W Tapik specjalizujemy się w profesjonalnym obszywaniu podsufitek – pracujemy precyzyjnie, z dbałością o detale i używamy tylko sprawdzonych materiałów: tkaniny, alcantary lub skóry ekologicznej. Obsługujemy Poznań i okolice, oferując najwyższą jakość usług tapicerskich.
                ul 
                    li 
                        b.text-bold Nowy wygląd wnętrza: 
                        | Estetyczna podsufitka znacząco wpływa na odbiór całej kabiny.
                    li 
                        b.text-bold Trwałe materiały: 
                        | Stosujemy wysokiej jakości tkaniny odporne na odkształcenia i odklejanie.
                    li 
                        b.text-bold Precyzyjne wykonanie: 
                        | Fachowy montaż bez fałd i niedociągnięć.
                    li 
                        b.text-bold Indywidualny dobór kolorów: 
                        | Dobieramy materiał idealnie do tapicerki i stylu auta.
                    li 
                        b.text-bold Usługa z demontażem: 
                        | Cały proces odbywa się w naszym warsztacie – wystarczy zostawić auto.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-1.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-1.jpg", alt="Tapicerka podsufitki Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-2.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-2.jpg", alt="Nowa podsufitka w aucie")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-3.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-3.jpg", alt="Renowacja podsufitki Poznań")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-4.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-4.jpg", alt="Podsufitka samochodowa – efekt końcowy")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-5.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-5.jpg", alt="Podsufitka samochodowa – efekt końcowy")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-6.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-6.jpg", alt="Podsufitka samochodowa – efekt końcowy")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-7.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-7.jpg", alt="Podsufitka samochodowa – efekt końcowy")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-8.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-8.jpg", alt="Podsufitka samochodowa – efekt końcowy")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-1.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-2.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-3.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-4.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-4.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-5.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-5.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-6.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-6.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-7.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-7.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/ceiling/ceiling-img-8.webp", type="image/webp")
                                img.work__img(src="img/ceiling/ceiling-img-8.jpg", alt="")
