$red: #f95959;
$crimson: #be3144;
$bg-red: linear-gradient(90deg, #E83351 0%, #841212 100%);
$bg-green: linear-gradient(90deg, #37AB4D 0.01%, #0077A7 100.01%);



$first: #222831; 
$second: #393e46; 
$third: #f96d00;
$fourth: #f2f2f2;

// #FFEEE2